li,
a,
button {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.nav__container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 10%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
    justify-content: flex-end;
    align-items: center;
}

.nav__container .logo__container {
    display: flex;
    margin-right: auto;
    align-items: center;
}

.logo__container img {
    height: var(--nav-height);
    transition: transform 0.5s ease;
    cursor: pointer;
}

.logo__container img:hover {
    transform: rotateZ(45deg);
}

.logo__container .name {
    position: relative;
    font-family: "Great Vibes", sans-serif;
    font-size: 36px;
    transition: all 300ms ease;
}

.logo__container .name:hover {
    color: #000;
}

.nav__container .nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    line-height: var(--nav-height);
    transition: all 0.3s ease;
    min-width: 100%;
}

.nav__links li:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.nav__links li:hover:nth-child(1n) a {
    color: var(--color-blue);
}
.nav__links li:hover:nth-child(2n) a {
    color: var(--color-orange);
}
.nav__links li:hover:nth-child(3n) a {
    color: var(--color-green);
}
.nav__links li:hover:nth-child(4n) a {
    color: var(--color-magenta);
}

.nav__container button {
    padding: 9px 25px;
    border: none;
    border-radius: 50px;
    background-color: rgb(39, 182, 221);
    transition: all 0.3s ease;
    margin-left: 30px;
    cursor: pointer;
}

.nav__container button:hover {
    background-color: rgba(39, 182, 221, 0.8);
}